{{ partial "header.html" . }}

<div class="home">
  <!-- Main avatar -->
    <img class="avatar" src="/images/avatar.jpg" alt="avatar">

  <!-- Translated description -->
    <h3 class="description">{{ T "description" }}</h3>
  
  <!-- Menu social icons -->
    <ul class="menu menu-social">
      {{ range.Site.Menus.social -}}
      <li>
        <a href="{{ .URL }}" target="_blank" rel="noopener noreferrer">
          {{ partial "icon.html" (dict "icon" .Pre "title" .Name ) }}
        </a>
      </li>
      {{- end }}
    </ul>
</div>

{{ .Content }}

{{ partial "footer.html" . }}
